# Lattice Radiant files
*.html
impl*/
*.xml
.build_status
.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.ini
*.dir/
*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd
**/obj_dir/
**/vga_formal/
**/vga_formal_proof/
**/vga_formal_cover/
**/mem_formal/
**/mem_formal_proof/
**/mem_formal_cover/
*.vcd